.DS_Store

# LaTeX crap
*.aux
*.nav
*.log
*.out
*.snm
*.toc
*.gz
*.dvi
*.pdf

presentations/*.sty
presentations/*.pdf

# Files from deck.js
#*.js
README_*
GPL-license.txt
MIT-license.txt
themes/
talks/
test/
introduction/
#latex/
extensions/
core/
.perl-version
local/
.carton/
Rexfile

