#subnav {
    background-color:#d2eeee;
    color           :#336699;
}
.threecol {
	background: #edfafa;	/* #f3f2ff; left and right columns background colour */
}
.threecol .wrapper-columns {
	background-image: url(../../images/pallidum/waves_bottom.gif);
}
.threecol .column-right {	
	background-image: url(../../images/pallidum/waves_top.gif);
}
/* title column */
.content_table_title, .content_table_second_title {
	background      : #d2eeee;
    border-color    : #A3BAE9;
}
/* section headers */
.content_table_header {
	color           : #FFFFFF;
	background      : #4A6E78;
}
/* row divider */
.content_table_data {
    border-color    : #A3BAE9;
}
/* old stuff */
.header_class {
    background-color: #4a6e78;
    color: #FFFFFF;
}
.download th, td.sub_header_class {
    background-color: #529295;
}
.threecol-wide {
    background: none repeat scroll 0 0 #edfafa;
}
#species-image img{
	display : block;
	margin: auto;
}
